div.html{
    border: 5px solid black;
    border-radius: 10px;
    position: absolute;
    width: 350px;
    background-color: #00e1ff;
    height: 850px;
    margin-top: 30px;
    margin-left: 70px;
}
div.css{
    border: 5px solid black;
    border-radius: 10px;
    position:absolute;
    width: 350px;
    background-color: #ff0095;
    height: 850px;
    margin-top: 30px;
    margin-left: 520px;
}
div.js{
    border: 5px solid black;
    border-radius: 10px;
    position: absolute;
    width: 350px;
    background-color: #7700ff;
    height: 850px;
    margin-top: 30px;
    margin-left: 960px;
}
img.ht{
    position: absolute;
    margin-left: 125px;
    width: 250px;
    height: 250px;
    margin-top: 100px;
}
img.cs{
    position: absolute;
    width: 220px;
    height: 220px;
    margin-left: 590px;
    margin-top: 120px;
}
img.j{
    position: absolute;
    margin-left: 1035px;
    width: 200px;
    height: 200px;
    margin-top: 120px;
}
h1{
    text-align: center;
    color: #ff8400;
    font-size: 40px;
}
h1.h{
    position: absolute;
    color: #000;
    font-size: 40px;
    margin-left: 200px;
    margin-top: 70px;

}
h1.c{
    position: absolute;
    color: #000;
    font-size: 40px;
    margin-top: 70px;
    margin-left: 660px;
}
h1.js{
    position: absolute;
    color: #000;
    font-size: 40px;
    margin-top: 70px;
    margin-left: 1050px;
}